.landingPageBody{
    display: flex;
    height: inherit;
}

/*! LANDING PAGE LEFT*/
.landingPageLeft{
    height: auto;
    width: fit-content;
    padding: 1em;
    border-right: 1px black solid;
}

/*Price Range*/
.landingPageLeft__filterOptions--priceRangeInputs{
    display: flex;
}
.gap{
    padding: 0em 1em;
}
.landingPageLeft__filterOptions--priceRangeInputs input{
    width: 4em;
    text-align: center;
}

/*Quality Filter*/
.landingPageLeft__filterOptions--quality{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.landingPageLeft__filterOptions--qualityOptions{
    display: flex;
}
.landingPageLeft__filterOptions--qualityOption{
    display: flex;
    align-items: center;
}


/*! LANDING PAGE RIGHT*/
.landingPageRight{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    background-color: whitesmoke;

    z-index: -1;
}
.landingPageRight__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em;

    overflow-y: scroll;
}
.landingPageRight__products::-webkit-scrollbar{
    width: 12px;
}
.landingPageRight__products::-webkit-scrollbar-track{
    background:whitesmoke;
}
.landingPageRight__products::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 20px;
    border: 3px solid whitesmoke;
}
/**Media Queries*/
@media only screen and (max-width: 600px) {
    .landingPageRight__products{    
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
        align-items: unset;
        overflow-y: scroll;
        padding: 1em;
    }
}